.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
ApiMentoria/bin/**
ApiMentoria/obj/**
Service/bin/**
Service/obj/**
Core/obj/**
Repository/obj/**
Tests/bin/**
Tests/obj/**
ApiMentoria/obj/Debug/netcoreapp3.1/ApiMentoria.assets.cache
Repository/bin/Debug/netcoreapp3.1/Core.dll
Repository/bin/Debug/netcoreapp3.1/Core.pdb
Repository/bin/Debug/netcoreapp3.1/Repository.dll
Repository/bin/Debug/netcoreapp3.1/Repository.pdb
Repository/bin/Debug/netcoreapp3.1/Repository.runtimeconfig.dev.json
Repository/obj/project.assets.json
Repository/obj/Repository.csproj.nuget.dgspec.json
Repository/obj/Repository.csproj.nuget.g.props
Repository/obj/Debug/netcoreapp3.1/Repository.assets.cache
Repository/obj/Debug/netcoreapp3.1/Repository.csproj.FileListAbsolute.txt
Repository/obj/Debug/netcoreapp3.1/Repository.csprojAssemblyReference.cache
Repository/obj/Debug/netcoreapp3.1/Repository.dll
Repository/obj/Debug/netcoreapp3.1/Repository.pdb
Repository/obj/Debug/netcoreapp3.1/Repository.assets.cache
