.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
ApiMentoria/bin/*
ApiMentoria/obj/*
Service/bin/*
Service/obj/*
Core/obj/*
Repository/obj/*
Tests/bin/*
Tests/obj/*