.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
ApiMentoria/bin/*
ApiMentoria/obj/*
Service/bin/*
Service/obj/*
Core/obj/Core.csproj.nuget.cache
Repository/obj/Repository.csproj.nuget.cache
Tests/bin/Debug/netcoreapp3.1/ApiMentoria.dll
Tests/bin/Debug/netcoreapp3.1/ApiMentoria.exe
Tests/bin/Debug/netcoreapp3.1/ApiMentoria.pdb
Tests/bin/Debug/netcoreapp3.1/appsettings.Development.json
Tests/bin/Debug/netcoreapp3.1/appsettings.json
Tests/bin/Debug/netcoreapp3.1/Castle.Core.dll
Tests/bin/Debug/netcoreapp3.1/Core.dll
Tests/bin/Debug/netcoreapp3.1/Core.pdb
Tests/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Tests/bin/Debug/netcoreapp3.1/Moq.dll
Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Tests/bin/Debug/netcoreapp3.1/Repository.dll
Tests/bin/Debug/netcoreapp3.1/Repository.pdb
Tests/bin/Debug/netcoreapp3.1/Service.dll
Tests/bin/Debug/netcoreapp3.1/Service.pdb
Tests/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Tests/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
Tests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Tests/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Tests/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
Tests/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Tests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Tests/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Tests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
Tests/bin/Debug/netcoreapp3.1/testhost.dll
Tests/bin/Debug/netcoreapp3.1/Tests.deps.json
Tests/bin/Debug/netcoreapp3.1/Tests.dll
Tests/bin/Debug/netcoreapp3.1/Tests.pdb
Tests/bin/Debug/netcoreapp3.1/Tests.runtimeconfig.dev.json
Tests/bin/Debug/netcoreapp3.1/Tests.runtimeconfig.json
Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/obj/project.assets.json
Tests/obj/Tests.csproj.nuget.cache
Tests/obj/Tests.csproj.nuget.dgspec.json
Tests/obj/Tests.csproj.nuget.g.props
Tests/obj/Debug/netcoreapp3.1/Tests.AssemblyInfo.cs
Tests/obj/Debug/netcoreapp3.1/Tests.AssemblyInfoInputs.cache
Tests/obj/Debug/netcoreapp3.1/Tests.assets.cache
Tests/obj/Debug/netcoreapp3.1/Tests.csproj.CopyComplete
Tests/obj/Debug/netcoreapp3.1/Tests.csproj.FileListAbsolute.txt
Tests/obj/Debug/netcoreapp3.1/Tests.csprojAssemblyReference.cache
Tests/obj/Debug/netcoreapp3.1/Tests.dll
Tests/obj/Debug/netcoreapp3.1/Tests.pdb
Tests/obj/Tests.csproj.nuget.g.targets
